/*=== GOOGLE FONTS  ===*/

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap");

/*=== VARIABLES CSS  ===*/
:root {
  --header-height: 3rem;

  /*=== Colors ===*/

  --title: rgb(27, 26, 26);
  --text: rgb(82, 81, 81);
  --text-light: rgb(154, 148, 148);
  --container: rgb(218, 212, 212);
  --container-alter: rgb(239, 230, 230);
  --body: rgb(233, 225, 225);

  /*=== Font & Typography ===*/
  --body-font: "Montserrat", sans-serif;
  --h1: 1.5rem;
  --h2: 1.25rem;
  --h3: 1rem;
  --bigger: 1.2rem;
  --normal: 0.938rem;
  --small: 0.875rem;
  --smaller: 0.813rem;

  /*=== Font weight ===*/
  --medium: 500;
  --semi-bold: 600;

  /*=== Margenes ===*/
  --m1: 0.5rem;
  --m2: 1rem;
  --m3: 1.5rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal);
  background-color: var(--body);
  color: var(--text);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title);
  font-weight: var(--normal);
}

i {
  font-size: var(--bigger);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 0 0 var(--m2) 0;
}

.title {
  margin: 0 0 var(--m2) 0;
}

/* Apply basic styles to the container */
.layout-wrapper {
  display: flex;
}

/* Style the left section (narrower) */
.left-section {
  flex: 1; /* Takes up 1/3 of the container */
  background-color: #f2f2f2;
  padding: 0 0 var(--m2) 20px;
}

/* Style the right section (wider) */
.right-section {
  flex: 2; /* Takes up 2/3 of the container */
  background-color: #ccc;
  padding: 0 0 var(--m2) 20px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--m3);
}
.img-container h4 {
  margin: 0;
}

.contact-container ul li,
.social-container ul li {
  margin: 0 0 var(--m2) 0;
  font-size: var(--bigger);
}
/* icons */
i {
  margin: 0 0.3 0 0;
}

.download {
  font-size: 1.5rem;
}

/* buttons */
.button {
  border: none;
  cursor: pointer;
}

.social-container,
.profile-container,
.education-container,
.skills-container,
.experience-container,
.languages-container,
.certificates-container,
.interests-container {
  margin: var(--m3) 0 0 0;
}

.stepper {
  display: flex;
  flex-direction: column;
}

.step {
  width: 35px;
  height: 35px;
  background-color: var(--text);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  font-weight: bold;
}

.step-container {
  display: flex;
  align-items: center;
}

.step-content {
  display: flex;
  flex-direction: column;
  margin: var(--m2) 0 0 2rem;
}

.step-content > * {
  margin: var(--m1) 0 0 0;
}

/* belongs to right side */
.languages-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.languages-list li::before {
  content: "\2022"; /* Bullet character (•) */
  margin-right: var(--m1);
}

.languages-list li {
  margin: 0 var(--m2) 0 0;
}

/* belongs to left side */

.skills-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: disc;
}

.skills-container > .skills-list {
  margin: 0 0 0 var(--m3);
}

.skills-container > .skills-list > li {
  margin: var(--m2) 0 0 0;
}

.experience-content {
  display: flex;
  flex-direction: column;
}

.content {
  margin: var(--m3) 0 0 0;
}

.item1 > h2,
.item2 > h2,
.item3 > h2 {
  margin: 0 0 var(--m3) 0;
}

.certificates-content > * {
  margin: var(--m2) 0 0 0;
}

.interests-item-table {
  display: flex;
}

.interests-table-row {
  display: flex;
  flex-direction: column;
}

.interests-table-cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

@media (max-width: 768px) {
  .interests-table-row {
    flex-direction: column;
  }
}
