/*=== GOOGLE FONTS  ===*/

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap");

/*=== VARIABLES CSS  ===*/
:root {
  /*=== Colors ===*/
  --black: #202020;
  --line: #595959;
  --p-color: #252422;
  --h2-color: #495057;
  --h3-color: #6c757d;
  --h4-color: #252422;
  --left-side: #dad9da;
  --h1-title: #212529;
  --button: #343a40;
  --white: #ffffff;

  /* #f5f3f4 */

  /*=== Font & Typography ===*/
  --body-font: "Montserrat", sans-serif;
  --h1: 1.3rem;
  --h2: 1rem;
  --h3: 0.5rem;
  --bigger: 1.2rem;
  --normal: 0.938rem;
  --small: 0.875rem;
  --smaller: 0.813rem;

  /*=== Font weight ===*/
  --medium: 500;
  --semi-bold: 600;

  /*=== Margenes ===*/
  --m1: 0.5rem;
  --m2: 1rem;
  --m3: 1.5rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal);
}

p {
  color: var(--p-color);
  font-size: var(--normal);
}

h1 {
  font-size: var(--h1);
}

h2,
h3 {
  font-weight: var(--normal);
}

h2 {
  color: var(--h2-color);
  font-size: var(--h2);
}

h3 {
  color: var(--h3-color);
  font-size: var(--h3);
}
h4 {
  color: var(--h4-color);
  font-weight: var(--semi-bold);
}

i {
  font-size: var(--bigger);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 200px;
  height: auto;
  border: 2px solid #eb5e28;
  border-radius: 50%;
  margin: 0 0 var(--m1) 0;
}

.title {
  margin: 0 0 var(--m2) 0;
  color: var(--h1-title);
  font-weight: var(--semi-bold);
}

/* Apply basic styles to the container */
.layout-wrapper {
  display: flex;
  padding: 1rem 1rem;
}

/* Style the left section (narrower) */
.left-section {
  flex: 1; /* Takes up 1/3 of the container */
  padding: 0 0 var(--m2) 20px;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
}

/* Style the right section (wider) */
.right-section {
  flex: 3; /* Takes up 2/3 of the container */
  padding: 0 20px var(--m2) 20px;
  border-top: 1px solid var(--black);
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--m2);
}
.img-container h4 {
  margin: 0;
}

.img-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-description > h1,
h4 {
  margin: 0;
}

.social-container ul li {
  margin: 0 0 var(--m1) 0;
  font-size: var(--bigger);
}
/* icons */
i {
  margin: 0 0.3 0 0;
}

.download {
  font-size: 1.5rem;
}

/* buttons */
.button {
  border: none;
  cursor: pointer;
  padding: 1rem 1rem;
  margin: var(--m3);
  border-radius: 8px;
  background: var(--button);
  color: var(--white);
}

.button i {
  margin: var(--m1);
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container > p {
  margin: var(--m2);
}

.social-container,
.education-container,
.skills-container,
.experience-container,
.languages-container {
  margin: 0 0 var(--m2) 0;
}

.social-container,
.experience-container {
  margin: var(--m2) 0 0 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--m2) var(--m2);
}

.profile-section {
  margin: 0;
}

.education-content {
  display: flex;
  flex-direction: column;
}

.education-content > div {
  margin: 0 0 var(--m2) 0;
}

.education-content > div > * {
  margin: 0;
}

/* belongs to left side */
.languages-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.skills-list {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
}
@media screen and (max-width: 768px) {
  .skills-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

@media screen and (max-width: 600px) {
  .skills-list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

.skills-container > .skills-list > li,
.languages-list > li {
  margin: 0 0 var(--m1) 0;
}

.experience-content {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
}

.work-info {
  display: flex;
  flex-direction: column;
  margin: 0 var(--m2) 0 0;
  border-right: 1px solid var(--black);
}

.work-info > p {
  margin: 0 var(--m2) 0 0;
}

.item-content {
  margin: 0 0 var(--m2) 0;
}

.item1 > *,
.item2 > *,
.item3 > * {
  margin: 0;
}

.work-period {
  font-weight: var(--semi-bold);
}
