h1 {
  font-size: 14pt;
}

h2 {
  font-size: 13pt;
}
h3 {
  font-size: 12pt;
}

p {
  font-size: 10pt;
  text-align: justify;
}

.left-section,
.right-section {
  padding: 0;
}

button {
  display: none;
}
